In [2]:
import numpy as np

# Importing standard Qiskit libraries
from qiskit import QuantumCircuit, transpile, Aer, IBMQ
from qiskit.tools.jupyter import *
from qiskit.visualization import *
from ibm_quantum_widgets import *
from qiskit.providers.aer import QasmSimulator

# Loading your IBM Quantum account(s)
provider = IBMQ.load_account()

ibmqfactory.load_account:WARNING:2022-12-05 08:02:42,080: Credentials are already in use. The existing account in the session will be replaced.

In [3]:
!pip install polars

Requirement already satisfied: polars in /opt/conda/lib/python3.8/site-packages (0.15.2)
Requirement already satisfied: typing_extensions>=4.0.0 in /opt/conda/lib/python3.8/site-packages (from polars) (4.4.0)

In [4]:
import polars as pl

In [5]:
df = pl.DataFrame(
 {
 'Company': ['Ford','Toyota',
 'Toyota','Honda','Toyota',
 'Ford','Honda','Subaru',
 'Ford','Subaru'],
 'Model': ['F-Series','RAV4',
 'Camry','CR-V','Tacoma',
 'Explorer','Accord','CrossTrek',
            'Escape','Outback'],
 'Sales': [58283,32390,25500,18081,
 21837,19076,11619,15126,
 13272,10928]
 }
)

In [6]:
df

shape: (10, 3)
┌─────────┬───────────┬───────┐
│ Company ┆ Model     ┆ Sales │
│ ---     ┆ ---       ┆ ---   │
│ str     ┆ str       ┆ i64   │
╞═════════╪═══════════╪═══════╡
│ Ford    ┆ F-Series  ┆ 58283 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Toyota  ┆ RAV4      ┆ 32390 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Toyota  ┆ Camry     ┆ 25500 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Honda   ┆ CR-V      ┆ 18081 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ ...     ┆ ...       ┆ ...   │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Honda   ┆ Accord    ┆ 11619 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Subaru  ┆ CrossTrek ┆ 15126 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Ford    ┆ Escape    ┆ 13272 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Subaru  ┆ Outback   ┆ 10928 │
└─────────┴───────────┴───────┘

In [7]:
df.dtypes

[polars.datatypes.Utf8, polars.datatypes.Utf8, polars.datatypes.Int64]

In [8]:
df.columns

['Company', 'Model', 'Sales']

In [9]:
df.rows

<bound method DataFrame.rows of shape: (10, 3)
┌─────────┬───────────┬───────┐
│ Company ┆ Model     ┆ Sales │
│ ---     ┆ ---       ┆ ---   │
│ str     ┆ str       ┆ i64   │
╞═════════╪═══════════╪═══════╡
│ Ford    ┆ F-Series  ┆ 58283 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Toyota  ┆ RAV4      ┆ 32390 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Toyota  ┆ Camry     ┆ 25500 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Honda   ┆ CR-V      ┆ 18081 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ ...     ┆ ...       ┆ ...   │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Honda   ┆ Accord    ┆ 11619 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Subaru  ┆ CrossTrek ┆ 15126 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Ford    ┆ Escape    ┆ 13272 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Subaru  ┆ Outback   ┆ 10928 │
└─────────┴───────────┴───────┘>

In [10]:
df.select(
 'Model'
)

shape: (10, 1)
┌───────────┐
│ Model     │
│ ---       │
│ str       │
╞═══════════╡
│ F-Series  │
├╌╌╌╌╌╌╌╌╌╌╌┤
│ RAV4      │
├╌╌╌╌╌╌╌╌╌╌╌┤
│ Camry     │
├╌╌╌╌╌╌╌╌╌╌╌┤
│ CR-V      │
├╌╌╌╌╌╌╌╌╌╌╌┤
│ ...       │
├╌╌╌╌╌╌╌╌╌╌╌┤
│ Accord    │
├╌╌╌╌╌╌╌╌╌╌╌┤
│ CrossTrek │
├╌╌╌╌╌╌╌╌╌╌╌┤
│ Escape    │
├╌╌╌╌╌╌╌╌╌╌╌┤
│ Outback   │
└───────────┘

In [11]:
df.select(
 pl.col(['Model','Sales'])
 .sort_by('Sales')
)

shape: (10, 2)
┌───────────┬───────┐
│ Model     ┆ Sales │
│ ---       ┆ ---   │
│ str       ┆ i64   │
╞═══════════╪═══════╡
│ Outback   ┆ 10928 │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Accord    ┆ 11619 │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Escape    ┆ 13272 │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ CrossTrek ┆ 15126 │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ ...       ┆ ...   │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Tacoma    ┆ 21837 │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Camry     ┆ 25500 │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ RAV4      ┆ 32390 │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ F-Series  ┆ 58283 │
└───────────┴───────┘

In [12]:
df.select(
 [pl.col(pl.Int64), 'Company']
)

shape: (10, 2)
┌───────┬─────────┐
│ Sales ┆ Company │
│ ---   ┆ ---     │
│ i64   ┆ str     │
╞═══════╪═════════╡
│ 58283 ┆ Ford    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 32390 ┆ Toyota  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 25500 ┆ Toyota  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 18081 ┆ Honda   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 11619 ┆ Honda   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 15126 ┆ Subaru  │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 13272 ┆ Ford    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 10928 ┆ Subaru  │
└───────┴─────────┘

In [13]:
df.select(
 [pl.col(pl.Utf8)]
)

shape: (10, 2)
┌─────────┬───────────┐
│ Company ┆ Model     │
│ ---     ┆ ---       │
│ str     ┆ str       │
╞═════════╪═══════════╡
│ Ford    ┆ F-Series  │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Toyota  ┆ RAV4      │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Toyota  ┆ Camry     │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Honda   ┆ CR-V      │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...     ┆ ...       │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Honda   ┆ Accord    │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Subaru  ┆ CrossTrek │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Ford    ┆ Escape    │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ Subaru  ┆ Outback   │
└─────────┴───────────┘